@{
    ViewBag.Title = "Survey";
}

<div ng-app="SurveyApp" ng-controller="SurveyCtrl">

    <div class="jumbotron">
        <h1 class="display-3">Self Assessment Survey</h1>
        <p class="lead">Please answer any questions that apply to your company, a rating will be provided on completion.</p>
        <h2>Current category: {{categoryTitle}}</h2>
        <a href="#" class="btn btn-primary" ng-repeat="category in categories" ng-click="changeCategory(category)">{{category.title}}</a>
    </div>

    <div class="card bg-info text-white" ng-repeat="question in questions">
        <div class="card-body">
            <h5 class="card-title">{{question.title}}</h5>
            <a href="#" class="btn btn-primary" ng-repeat="option in options">{{option.title}}</a>
        </div>
    </div>

</div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/app/SurveyController.js")
}